@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('fonts.css');
*{
    margin: 0;
    padding: 0;
    font-family: 'Avenir-roman-pro';
    outline: none;
    box-sizing: border-box;
}
:root{
    --primary-blue : #0C4C9B;
    --primary-green : #06A451;
    --gradient1 : linear-gradient(270deg, #2F9A64 0.04%, #177CB4 99.97%), #2E2F34;
    --gradient2 : linear-gradient(270deg, #177CB4 0.04%, #2F9A64 99.97%), #2E2F34;
    --para-color : #565656;
    --para-color2:#242424;
    --heading-color : #2E2F34;
    --heading-color2 : #232323;
    --bg-gray:#F5F5F5;
}
p{
    margin-bottom: 0;
}
.mcontainer{
    width: 100%;
}
.w95{
    width: 95%;
}
.w90{
    width: 90%;
}
.w80{
    width: 80%;
}
.margin-center{
    margin: 0 auto;
}
.center-text{
    text-align: center;
}
nav{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 999;
}
.top-nav{
    padding: 20px 0;
}
.top-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-nav-btns,
.logo-side{
    display: flex;
    align-items: center;
    gap: 20px;
}
.logo-side{
    justify-content: flex-start;
}
.logo-side img{
    object-fit: contain;
    width: max-content;
}
.logo-1{
    height: 56px;
}
.logo-2{
    height: 35px;
}
.top-nav-btns{
    justify-content: flex-end;
}
.button-main{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 14px;
    font-weight: normal;
    background: var(--gradient1);
    padding: 10px 30px;
    border-radius: 30px;
    color: #fff;
}
.search-nav{
    cursor: pointer;
}
.bottom-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--gradient1);
}
.bottom-nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 40px;
}
.bottom-nav ul li a,
.bottom-nav ul li p{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight : 500;
    padding: 12px 0;
    display: block;
    font-family: 'Avenir-mid';
}
.bottom-nav li{
    position: relative;
}
.bottom-nav li .dropdown{
    position: absolute;
    opacity: 0;
    top: 120%;
    left: -10px;
    width: 199px;
    background: #fff;
    padding: 10px 0;
    display: none;
    animation: dropdownanim .2s linear forwards;
}
@keyframes dropdownanim{
    0%{
        top: 120%;
        opacity: 0;
    }
    100%{
        top: 100%;
        opacity: 1;
    }
}
.bottom-nav li:hover .dropdown{
    display: block;
}
.bottom-nav li .dropdown::before{
    content: "";
    position: absolute;
    top: -10px;
    left: 15px;
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 10px solid #fff;
}
.bottom-nav li .dropdown ul{
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
}
.bottom-nav li .dropdown ul li {
    padding: 0;
    width: 100%;
}
.bottom-nav li .dropdown ul li p{
    margin: 0;
    padding: 0px 12px 5px 12px;
    font-size: 14px;
    color: #000;
    font-weight: 800;
    width: max-content;
    position: relative;
}
.bottom-nav li .dropdown ul li p::after{
    content: "";
    height: 1px;
    width: calc(100% - 12px);
    position: absolute;
    bottom: 0;
    left: 12px;
    background: var(--gradient1);
}
.bottom-nav li .dropdown ul li a{
    color: var(--para-color);
    display: block;
    padding: 10px 12px 0 12px;
}
footer{
    padding: 40px 0 0 0;
    background: var(--gradient1);
    width: 100%;
}
.footer-flex{
    display: flex;
    gap: 96px;
}
.footer-flex .footer-box{
    flex: 1;
}
.footbox-f:nth-child(1){
    min-width: 35%;
}
.footer-box p,
.footer-box a{
    font-size:14px;
    color: #fff;
    font-weight: 300;
    margin: 0;
    text-decoration: none;
    /* transition: 0.4s all ease-out; */
    opacity: 0.8;
    letter-spacing: 0.5px;
}
.footer-box a:hover{
    opacity: 1;
}
.footer-box a.footer-logo{
    padding: 15px;
    background: #fff;
    width: max-content;
    display: block;
    opacity: 1;
}
.footer-top .footbox-f{
    padding-left: 0;
}
.foot-logo{
    margin-bottom: 20px;
}
.footer-logo img{
    height: 56px;
    display: block;
    object-fit: contain;
}
.footer-box h4,
.footer-subscribe h4{
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 15px;
}
.footer-subscribe h4{
    margin-bottom: 10px;
}
.footer-subscribe{
    margin-top: 30px;
}
.footer-form{
    width: 95%;
    display: flex;
    border-radius: 30px;
    overflow: hidden;
    border: 1px solid #fff;
}
.footer-form input{
    padding: 10px 15px;
    width: calc(100% - 120px);
    box-sizing: border-box;
    font-size: 14px;
    color: #fff;
    background: transparent;
    border: 0;
    letter-spacing: 0.58px;
    font-weight: 300;
}
.footer-form input::placeholder{
    color: #fff;
    opacity: 0.8;
}
.footer-form button{
    background: #fff;
    border: 0;
    width: 120px;
    text-transform: uppercase;
    color: var(--heading-color);
    font-weight: 500;
    font-size: 14px;
}
.footbox-f .footer-box:nth-child(2){
    margin-top: 30px;
}
.footer-box ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.footer-box ul li{
    padding: 0 0 10px 0;
    width: 100%;
}
.foot-bot-flex{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(255,255,255,0.1);
}
.foot-bot-flex p{
    font-size: 14px;
    color: #fff;
    opacity: 0.8;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin: 0;
}
.foot-bot-flex ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}
.copyright{
    margin-top: 20px;
}
.common-headings p{
    font-size: 16px;
    color: var(--heading-color);
    line-height: 1.5;
    letter-spacing: 0.96px;
    margin: 20px auto;
}
.common-headings p span{
    font-weight: 800;
}
.common-headings p.main-title{
    color: var(--heading-color);
    font-size: 40px;
    font-weight: 400;
    margin: 0;
    line-height: 1.2;
}
.common-headings p.main-title span{
    /* font-weight: 900; */
    font-family: 'Avenir-black';
}
.group-counters{
    padding: 50px 0;
    background: var(--bg-gray);
}
.group-counters .common-headings p{
    color: var(--para-color);
}
.group-counters .common-headings p.main-title{
    color: var(--heading-color);
}
.grp-img img{
    width: 100%;
    object-fit: contain;
    display: block;
}
.main-button{
    text-decoration: none;
    font-size: 14px;
    color: var(--heading-color);
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px 30px;
    border: 1px solid var(--heading-color);
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    display: block;
    width: max-content;
    transition: 0.4s;
    transition-delay: 0.2s;
    letter-spacing: 0.68px;
    background: transparent;
}
.main-button span{
    position: relative;
    z-index: 2;
    transition: 0.4s;
    transition-delay: 0.1s;
}
.main-button::before{
    content: "";
    position: absolute;
    z-index: 1;
    height: 30%;
    width: 30%;
    border-radius: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    background: var(--gradient1);
    transition: 0.5s;
}
.main-button:hover::before{
    opacity: 1;
    height: 100%;
    width: 100%;
}
.main-button:hover{
    border: 1px solid transparent;
}
.main-button:hover span{
    color: #fff;
}
.main-button.type2{
    width: 150px;
    text-align: center;
    color: #fff;
    border-color: transparent;
}
.main-button.type2::before{
    opacity: 1;
    height: 100%;
    width: 100%;
}
.main-button.type2:hover::before{
    animation:btnHover .5s ease-out  forwards;
}
@keyframes btnHover{
    0%{
        height: 100%;
        width: 100%;
    }
    50%{
        height: 80%;
        width: 80%;
    }
    100%{
        height: 100%;
        width: 100%;
    }
}
.grp-text{
    margin-top: 20px;
}
.counters {
    margin-top: 30px;
}
.count-cardmbox{
    display: flex;
}
.counter-box{
    padding: 20px;
    background: #fff;
    transition: 0.5s;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.03);
    margin: 20px auto;
    width: 100%;
}
.counter-box:hover{
    transform: translate3d(0,-10px,0);
}
.counter-box h4{
    font-size: 42px;
    font-style: normal;
    font-weight: 800;
    background: var(--gradient1);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.counter-box p{
    color: var(--para-color2);
    font-size: 16px;
    margin: 0;
    font-weight: 800;
}
.news-updates{
    padding: 50px 0;
}
.news-updates .common-headings p{
    color: var(--para-color);
}
.news-updates .common-headings p.main-title{
    color: var(--heading-color);
}
.news-offersside{
    width: calc(100% - 420px);
}
.news-carousel{
    width: 420px;
    position: relative;
}
.news-tag{
    position: absolute;
    top: 20px;
    left: 30px;
    z-index: 9;
    padding: 8px;
    display: block;
    border-radius: 30px;
    background: #fff;
    font-size: 12px;
    font-weight: 800;
    color: var(--para-color2);
    margin: 0;
    letter-spacing: 0.2px;
}
.offeringsbx{
    margin-top: 20px;
    float: left;
}
.offering-btns{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 20px;
}
.news-slider .swiper-slide{
    padding: 10px;
}
.news-card{
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.06);
    border: 1px solid #FAFAFA;
    box-sizing: border-box;
}
.news-card img{
    width: 100%;
    object-fit: contain;
}
.news-cards-details{
    padding: 25px 15px;
    box-sizing: border-box;
}
.news-date-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}
.news-date-box p{
    margin: 0;
    padding: 0;
}
.news-art-title {
    color: var(--heading-color2);
    letter-spacing: 0.86px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}
.news-date{
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    font-weight: 400;
}
.news-card h5{
    color: var(--heading-color2);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    margin: 10px auto;
}
.navs{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.nav-btn{
    height: 48px;
    width: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed transparent;
    background: var(--gradient1);
    cursor: pointer;
    color: #fff;
}
.nav-btn.swiper-button-disabled{
    background: #fff;
    color: var(--heading-color);
    opacity: 0.4;
    border: 1px dashed var(--heading-color);
    cursor: not-allowed;
}
.news-updates .w90{
    align-items: flex-start;
}
.news-navs{
    position: absolute;
    z-index: 9;
    bottom: 36px;
    right: 40px;
}
.values{
    padding: 50px 0;
    background: var(--bg-gray);
}
.value-card{
    position: relative;
}
.backlayer{
    position: relative;
    z-index: 1;
}
.backlayer img{
    width: 100%;
    object-fit: contain;
}
.frontlayer{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    box-sizing: border-box;
    padding: 24px;
    transition: 0.4s;
}
.front-texts{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.4s;
}
.front-texts h4{
    color: #fff;
    font-size: 22px;
    font-style: normal;
    font-weight: 900;
    width: calc(100% - 40px);
    margin: 0 auto 12px auto;
}
.front-texts p{
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    display: none;
}
.circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.circle svg{
    animation: circle 5s ease-in-out infinite;
    width: calc(100% - 72px);
    aspect-ratio: 1;
}
@keyframes circle {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.value-cards{
    padding: 0;
    margin-top: 20px;
}
.banner-img{
    position: relative;
}
.banner-img img{
    width: 100%;
    object-fit: contain;
    display: block;
}
.banner-img .banner-content{
    position: absolute;
    top: 50%;
    width: 530px;
    right: 118px;
    background: rgba(255, 255, 255, 0.60);
    backdrop-filter: blur(15.149999618530273px);
    padding: 24px;
    transform: translateY(-50%);
    z-index: 2;
}
.banner-content p{
    font-size: 16px;
    color: var(--heading-color);
    line-height: 1.5;
    letter-spacing: 0.96px;
}
.banner-content .main-button{
    margin-top: 24px;
}
.banner-content p.banner-title{
    margin: 20px auto;
    font-size: 42px;
    color: var(--heading-color);
    font-weight: 900;
    line-height: 1;
    font-family: 'Avenir-black';
}
.banner-content p.top-text{
    font-size: 24px;
    color: var(--heading-color);
    font-weight: 400;
    font-family: 'Avenir-mid';
    line-height: 1;
    text-transform: uppercase;
}
.banner-navs .swiper-pagination-fraction{
    position: relative;
    width: max-content;
    top: auto;
    left: auto;
    bottom: auto;
    font-size: 16px;
    font-weight: 400;
}
.banner-navs .swiper-pagination-current{
    font-size: 32px;
}
.banner-navs{
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 9;
    padding: 10px;
    background: #fff;
    border-radius: 30px;
}
.banners{
    position: relative;
}
.side-wrapper{
    position: fixed;
    height: 100vh;
    width: 100%;
    right: -100%;
    z-index: 99;
}
.side-wrap-black{
    width: calc(100% - 546px);
    height: 100%;
    background: transparent;
    background: rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: 0.2s;
    transition-delay: 0.5s;
}
.pc_hide{
    display: none;
}
.mobile_hide{
    display: block;
}
.about-text{
    padding: 50px 0;
}
.inner-banner img{
    width: 100%;
    object-fit: contain;
    display: block;
}
.models{
    padding: 50px 0;
    background: var(--bg-gray);
}
.modelcards{
    display: flex;
    align-items: flex-start;
}
.model-card{
    width: 21.66%;
    padding: 10px;
    overflow: hidden;
    transition: 0.4s all linear;
    position: relative;
}
.model-card.active-card{
    width: 35%;
}
.model-card img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.model-card .titled-title{
    position: absolute;
    bottom: 30px;
    right: 40px;
    transform: rotate(180deg) translate(-20px,-0px);
    writing-mode: vertical-lr;
    color: #fff;
    font-size: 24px;
    font-weight: 800;
    transition: 0.3s;
    transition-delay: 0.4s;
}
.model-card.active-card .titled-title{
    opacity: 0;
}
.model-card.active-card .model-textbig{
    opacity: 1;
    transform: translate3d(0,0px,0);
}
.model-textbig{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 25px;
    z-index: 1;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translate3d(0,20px,0);
    transition: 0.5s;
}
.model-textbig p{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
.model-textbig p.model-title{
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 8px;
}

.model-card.swiper-slide-active .titled-title{
    opacity: 0;
}
.model-card.swiper-slide-active .model-textbig{
    opacity: 1;
    transform: translate3d(0,0px,0);
}
.model-card.swiper-slide  .titled-title{
    transition-delay: 0s;
}
.model-card.swiper-slide{
    height: auto;
    padding: 0;
}
.mission{
    padding: 120px 0 50px 0;
}
.mission-flex{
    display: flex;
    gap: 50px;
}
.missionbox{
    flex: 0 0 50%;
    position: relative;
}
.missionbox .before-img{
    height: 261px;
    width: 261px;
    top: -75px;
    left: -110px;
    object-fit: contain;
    position: absolute;
    z-index: -1;
}
.missionbox img{
    width: 100%;
    display: block;
    object-fit: contain;
}
.missionbox ul{
    list-style-type: disc;
    color: var(--para-color);
    margin-left: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.missionbox ul li{
    font-size: 14px;
    font-weight: 400;
    color: var(--para-color);
    letter-spacing: 0.9px;
}
.why{
    padding: 50px 0;
    background: var(--bg-gray);
}
.why .common-headings{
    width: 55%;
    margin: 0 auto;
}
.whyfaqs{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 40px;
}
.whyfaqimg{
    width: 482px;
}
.whyfaqimg img{
    width: 100%;
    object-fit: contain;
    display: block;
}
.faqs-side{
    width: calc(100% -  522px);
}
.faqcontainer{
    border: 1px solid #EDEDED;
    padding: 20px;
    margin-top: 20px;
}
.faqcontainer:nth-child(1){
    margin-top: 0;
}
.faqtitle{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;
}
.faqtitle p{
    font-size: 20px;
    color: var(--heading-color2);
    font-weight: 800;
    font-family: 'Avenir-black';
}
.faqtitle span{
    cursor: pointer;
}
.hidefaq{
    display: none;
}
.faqcontainer.showed .showfaq{
    display: none;
}
.faqcontainer.showed .hidefaq{
    display: block;
}
.faqanswer{
    padding-top: 20px;
    display: none;
}
.faqanswer p{
    color: var(--para-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
}
.business-entities{
    background: var(--gradient1);
    padding: 60px 0;
}
.busent-head{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: flex-end;
}
.busent-head .common-headings p{
    margin-bottom: 0;
    color: #fff;
}
.busent-head .common-headings{
    width: 455px;
}
.gfl-navs .nav-btn{
    background: #2E2F34;
    transition: 0.4s;
    overflow: hidden;
    position: relative;
}
.gfl-navs .nav-btn svg{
    position: relative;
    z-index: 3;
}
.gfl-navs .nav-btn::before{
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,0.6);
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    transform: scale(1);
    display: none;
    transition: 0.4s;
}
.gfl-navs .nav-btn::after{
    content: "";
    background: var(--gradient2);
    transform: scale(0);
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transition: 0.4s;
}
.gfl-navs .nav-btn:hover::after{
    transform: scale(1);
}
.gfl-navs .nav-btn:hover{
    background: transparent;
}
.gfl-navs .nav-btn:hover::before{
    display: block;
}
.gfl-navs .nav-btn.swiper-button-disabled{
    background: transparent;
}
.gfl-navs .nav-btn.swiper-button-disabled::before{
    opacity: 0;
}
.gfl-navs .nav-btn.swiper-button-disabled::after{
    opacity: 0;
}
.business-card {
    background: #fff;
    padding: 20px;
    height: auto!important;
}
.business-swiper{
    margin-top: 40px;
}
.business-top{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 40px;
}
.business-top img{
    height: 56px;
    object-fit: contain;
    object-position: top left;
    width: 40%;
}
.business-top .tag{
    width: max-content;
    padding: 8px 15px;
    text-align: center;
    /* min-width: 126px; */
    color: #fff;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
    background: linear-gradient(130deg, #38A44D -3.83%, #0E78C4 108.29%), #E1E1E1;
}
.business-content p{
    font-size: 15px;
    color: var(--para-color2);
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.9px;
}
.business-content p.bus-title{
    font-weight: 600;
    font-family: 'Avenir-black';
    color: #1B1C1E;
    margin-bottom: 10px;
}
.stats-flex,.statsboxes{
    display: flex;
    flex-wrap: wrap;
}
.stats-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.keycontent{
    padding: 50px 0;
    background: var(--bg-gray);
    display: flex;
    align-items: center;
}
.statsboxes .col-lg-6:nth-child(odd){
    padding-right: 10px;
}
.statsboxes .col-lg-6:nth-child(even){
    padding-left: 10px;
}
.statsboxes .counter-box{
    margin-bottom: 0;
}
.statsboxes .count-cardmbox.gradientbg a{
    width: 100%;
    display: block;
    text-decoration: none;
}
.statsboxes .count-cardmbox.gradientbg .counter-box{
    background: linear-gradient(90deg, #EA4399 0%, #F37643 100%);
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.03);
}
.statsboxes .count-cardmbox.gradientbg .counter-box p{
    color: #fff;
}
.statsboxes .count-cardmbox.gradientbg .counter-box img{
    margin-bottom: 5px;
}
.manufacabout{
    padding-bottom: 20px;
}
.map-image img{
    max-width: 100%;
    object-fit: contain;
}
.map {
    padding-bottom: 40px;
}
.map .map-points{
    width: 100%;
    padding: 25px;
    margin: 50px auto;
    background: var(--bg-gray);
}
.map-points ul{
    margin: 0;
    padding: 0 0px 0 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.map-points ul li{
    font-size: 16px;
    color: var(--para-color);
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0.9px;
}
.pointer-box{
    display: flex;
    flex-wrap: wrap;
}
.pointercontent{
    padding: 60px 0;
    background: var(--bg-gray);
}
.pointer-box:nth-child(even){
    flex-direction: row-reverse;
}
.pointer-box:nth-child(even) .pointercontent{
    background: #fff;
}
.pointercontent .common-headings p{
    color: var(--para-color);
}
.pointercontent .common-headings p.main-title{
    color: var(--heading-color);
}
.pointer-box .common-headings ul{
    margin: 0;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 11px;
    padding-left: 18px;
}
.pointer-box .common-headings li{
    font-size: 16px;
    color: var(--heading-color);
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.96px;
}
.about-text.technology-partner p{
    color: var(--heading-color);
}
.products-flexbox{
    display: flex;
    flex-wrap: wrap;
}
.productstopbar{
    position: sticky;
    position: -webkit-sticky;
    top: 140px;
    padding: 20px 0;
    background: #fff;
    z-index: 99;
}
.productstopbar ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    border: 1px solid #E5E5E5;
}
.productstopbar li{
    width: 100%;
    padding: 20px 0;
    font-size: 20px;
    color: var(--para-color);
    text-align: center;
    line-height: 1;
    cursor: pointer;
}
.productstopbar li.active-pr-tab{
    background: var(--gradient1);
    color: #fff;
    font-weight: 800;
}
.product-about{
    padding: 50px 0;
    background: var(--bg-gray);
}
.prodabtflex{
    display: flex;
    flex-wrap: wrap;
}
.prodabtflex .image-side{
    padding-right: 25px;
}
.prodabtflex .about-side{
    padding-left: 25px;
}
@media only screen and  (max-width : 1100px){
    .prodabtflex .image-side{
        padding-right: 15px;
    }
    .prodabtflex .about-side{
        padding-left: 15px;
    }
}
.prodabtflex .image-side img{
    width: 100%;
    object-fit: contain;
    display: block;
}
.product-specs{
    padding: 50px 0;
}
.spec-title{
    font-size: 22px;
    color: var(--heading-color);
    font-weight: 500;
    margin-bottom: 20px;
}
.spec-acc-title{
    display: flex;
    gap: 10px;  
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
    border: 1px solid #F5F5F5;
    width: 100%;
    padding:15px 18px;
}
.spec-acc-title p{
    font-size: 32px;
    color: #313131;
    font-weight: 800;
    /* font-family: 'Avenir-black'; */
    flex-shrink: 0;
    margin: 0;
    max-width: calc(100% - 58px);
}
.spec-acc-title svg{
    flex-shrink: 0;
    transition: 0.4s all ease-out;
}
.spec-content{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}
.spec-acc-title.active-title svg{
    transform: rotate(180deg);
}
.spec-content table{
    width: 100%;
}
.spec-content td{
    padding: 15px 18px;
    font-size: 18px;
}
.spec-content tr:nth-child(odd){
    background: var(--bg-gray);
}
.spec-content td:nth-child(1){
    font-weight: 800;
    /* font-family: 'Avenir-black'; */
    color: #313131;
}
.spec-content td:nth-child(2){
    color: var(--para-color);
}
.product-data{
    display: none;
}
.directors{
    padding: 40px 0;
}
.leaderlist{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
.leaderlist .col-sm-12{
    padding: 10px;
    display: flex;
}
.leadercard{
    border: 1px solid rgba(0, 0, 0, 0.03);
    width: 100%;
}
.leadercard img{
    width: 100%;
    object-fit: contain;
}
.leadercontent{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}
.leadercontent p{
    margin: 0;
    font-size: 14px;
    color: var(--para-color);
    font-weight: 400;
    line-height: 1.5;
}
.leadercontent p.leadername{
    font-size: 18px;
    color: #000;
    font-weight: 800;
    font-family: 'Avenir-black';
}
.linked-img{
    width: 24px;
    height: 24px;
}
.linked-card {
    cursor: pointer;
}
.linked-card .linked-img{
    pointer-events: none;
}
.leadername-side{
    width: calc(100% - 34px);
}
.certificates-about{
    padding: 80px 0;
}
.certificates-about .centered-headings{
    max-width: 434px;
    margin: 0 auto;
}
.certificates-list{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.certificates-list .pdf-card{
    width: 290px;
    background: #FAFAFA;
    padding: 16px;
}
.pdf-card .pdf-content{
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 12px;
}
.pdf-card .pdf-content p{
    font-size: 16px;
    max-width: calc(100% - 45px);
}
.pdf-card img{
    width: 66px;
    height: 66px;
    background: #F3F3F3;
    object-fit: contain;
    padding: 8px;
}
.career-content{
    padding: 80px 0;
}
.career-contentbox{
    display: flex;
    gap: 24px;
    margin-top: 40px;
}
.career-contentbox:nth-child(odd){
    flex-direction: row-reverse;
}
.career-contentbox .content{
    width: 430px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.career-contentbox .content p{
    font-size: 16px;
    color: var(--heading-color);
    font-weight: 450;
    line-height: 1.5;
    letter-spacing: 0.96px;
    font-family: 'Avenir-mid';
}
.career-contentbox img{
    width: calc(100% - 454px);
}
.openings{
    padding-bottom: 80px;
}
.openings .centered-headings{
    max-width: 765px;
    margin: 0 auto;
}
.openings .careersbox{
    padding-top: 20px;
}
.careersbox table{
    width: 100%;
    border-radius: 24px 24px 0px 0px;
    overflow: hidden;
    border-collapse: collapse;
    box-sizing: border-box;
}
.careersbox table tr{
    border: 1px solid #E5E5E5;
    border-width: 0 1px 0 1px;
    position: relative;
}
.careersbox table tr:nth-child(1){
    background: var(--gradient1);
    width: 100%;
    border: 0;
    position: static;
}
.careersbox table tr:not(:nth-child(1)):not(:nth-last-child(1)):after{
    content: "";
    position: absolute;
    height: 1px;
    width: calc(100% - 112px);
    bottom: 0;
    left: 56px;
    background: #E5E5E5;
}
.careersbox table th{
    font-size: 18px;
    color: #fff;
    font-weight: 800;
    letter-spacing: 0.96px;
    /* font-family: 'Avenir-black'; */
}
.careersbox table td{
    padding: 24px 56px;
    line-height: 1.3;
    color: var(--para-color);
    font-size: 14px;
    font-weight: 450;
}
.careersbox table td:nth-last-child(1){
    display: flex;
    gap:16px 40px;
    align-items: center;
    flex-wrap: wrap;
}
.careersbox table td a{
    font-size: 14px;
    text-decoration: none;
    position: relative;
    color: var(--para-color);
    font-weight: 400;
    transition: 0.4s;
}
.careersbox table td a:hover{
    color: var(--primary-blue);
}
.careersbox table td a::after{
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background: currentColor;
}
.careersbox table td a.apply-btn{
    font-weight: 800;
}
.careersbox table th{
    padding: 20px 56px;
    line-height: 1;
}
.join-linkedin{
    width: 100%;
    background: linear-gradient(93deg, #027DBC 8.44%, #0088C7 93.84%);
    padding: 20px 0;
    border-radius:0 0 24px 24px;
}
.join-linkedin a{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    width: max-content;
    margin: 0 auto;
}
.application-form{
    padding: 80px 0;
}
.application-form .centered-headings{
    max-width: 554px;
    margin: 0 auto;
}
.mainform{
    max-width: 800px;
    margin: 0 auto;
    padding-top: 20px;
}
.mainform .inputbox {
    position: relative;
}
.mainform .inputbox label{
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #1B1C1E;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Avenir-mid';
}
.mainform .inputbox p{
    color: #1B1C1E;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Avenir-mid';
}
.mainform .inputbox input:not([type='radio']),
.mainform .inputbox select,
.mainform .inputbox textarea{
    padding: 15px 20px;
    border: 1px solid #AEAEAE;
    border-radius: 6px;
    font-size: 16px;
    color: var(--para-color);
    transition: 0.2s;
}
.mainform .inputbox textarea{
    height: 117px;
    resize: none;
}
.mainform .inputbox select{
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('../images/chevron-down.svg');
  background-position: 97% center;
  background-size: 24px;
  background-repeat: no-repeat;
}
.mainform .inputbox input[type=number]::-webkit-outer-spin-button,
.mainform .inputbox input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.mainform .inputbox input[type=number] {
  -moz-appearance: textfield;
}
.mainform .inputbox.radios label{
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    line-height: 1;
    top: -2px;
    font-weight: normal;
}
.mainform .inputbox.radios input{
    width: 16px;
    height: 16px;
}
.mainform .inputbox input:focus,
.mainform .inputbox select:focus,
.mainform .inputbox textarea:focus{
    border-color:var(--primary-blue);
}
.mainform .inputbox input[type="file"]{
    padding: 10px 20px;
}
.mainform .radiochecks{
    display: flex;
    gap: 20px;
    padding: 17px 20px;
    border: 1px solid #AEAEAE;
    border-radius: 6px;
    margin-top: 8px;
}
.mainform .note{
    font-size: 12px;
    color: #6B6B6B;
    display: block;
    position: absolute;
    bottom: -22px;
}
.mainform .error{
    font-size: 14px;
    color: red;
    width: 100%;
    display: none;
}
.mainform form{
    display: flex;
    gap: 24px 0;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
}
.submit-buttons{
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
    margin-top: 24px;
}
.contact-form .submit-buttons{
    margin-top: 0;
}
.leaders-popup{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    display: none;
}
.popup-content{
    width: 86%;
    display: flex;
    gap: 30px;
    align-items: flex-start;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    padding: 16px;
}
.popup-content .imageside{
    width: 392px;
    border: 0;
}
.popup-content .imageside .leadercontent{
    padding-bottom: 0;
}
.popup-content .imageside img{
    height: 392px;
    object-fit: cover;
}
.popup-content .linked-img img{
    height: auto;
}
.popup-content .about-content{
    width: calc(100% - 422px);
    max-height: 450px;
    overflow: auto;
    margin: 20px 0px 0 0;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
/* width */
.popup-content .about-content::-webkit-scrollbar {
    width: 3px;
}
  
  /* Track */
.popup-content .about-content::-webkit-scrollbar-track {
    background: #F0F0F0;
}

/* Handle */
.popup-content .about-content::-webkit-scrollbar-thumb {
    background: linear-gradient(270deg, #2F9A64 0.04%, #177CB4 99.97%);
}
.popup-content .about-content p{
    font-size: 16px;
    color: #565656;
    font-weight: 500;
    line-height: 1.5;
    font-family: 'Avenir-mid';
}
.close-popup{
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}
.investor-tabs{
    display: flex;
    /* flex-wrap: wrap; */
    gap: 20px;
    justify-content: flex-start;
    margin: 40px auto;
}
.investor-tab{
    width: 25%;
    padding: 20px;
    background: #F5F5F5;
    cursor: pointer;
}
.investor-tab p{
    color: #3C3C3C;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
}
.investor-tab.active{
    background: linear-gradient(270deg, #2F9A64 0.04%, #177CB4 99.97%);
}
.investor-tab.active p{
    color: #fff;
    font-weight: 500;
    font-family: 'Avenir-mid';
}
.inv-tab-content ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.inv-tab-content ul li{
    border: 1px solid #E5E5E5;
    border-width: 1px 0 0px 0;
    background: #fff;
}
.inv-tab-content ul li:nth-child(even){
    background: #FAFAFA;;
}
.inv-tab-content ul li:not(:nth-child(1)){
    border-width: 1px 0 0px 0;
}
.inv-tab-content ul li:nth-last-child(1){
    border-width: 1px 0 1px 0;
}
.inv-tab-content ul a,
.inv-tab-content ul p{
    display: block;
    padding: 18px 36px;
    text-decoration: none;
    color: var(--heading-color);
    font-size: 16px;
    font-weight: 400;
    transition: 0.2s;
}
.inv-tab-content ul p{
    padding: 0;
}
.inv-tab-content ul a:hover{
    color: var(--primary-blue);
}
.inv-tab-content ul li ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0px 36px;
    margin-left: 36px;
    list-style-type: disc;
    max-height: 0;
    overflow: hidden;
    transition: 0.2s;
}
.inv-tab-content ul li .accordion{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 16px 36px;
    cursor: pointer;
}
.inv-tab-content ul li .accordion.showed .accordion-icon .plus{
    display: none;
}
.accordion-icon{
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.accordion-icon .minus{
    display: none;
}
.inv-tab-content ul li .accordion.showed .accordion-icon .minus{
    display: block;
}
.inv-tab-content ul li ul li{
    border: 0;
    background: transparent!important;
}
.inv-tab-content ul li ul li a{
    padding: 0 0;
}
.inv-tab-content:not(:nth-child(1)){
    display: none;
}
.investor-content{
    padding: 80px 0;
}
.investor-content-page{
    padding: 40px 0 80px 0;
}
.breadcrumbs ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 12px;
    margin: 0;
    padding: 0;
}
.breadcrumbs {
    position: static;
}
.breadcrumbs li a,
.breadcrumbs li p{
    text-decoration: none;
    color: var(--heading-color);
    font-size: 16px;
    font-weight: 400;
    transition: 0.3s;
}
.breadcrumbs li a:hover{
    color: var(--primary-blue);
}
.page-content{
    margin-top: 30px;
}
.common-headings .below-content{
    padding-left: 20px;
    border-left: 1px solid #C3C3C3;
    margin-top: 40px;
}
.page-content .certificates-list{
    justify-content: flex-start;
    gap: 40px;
    padding-top: 40px;
}
.page-content .certificates-list .pdf-card{
    width: calc(33.33% - 26.66px);
}
.content-table{
    width: 100%;
}
.content-table table{
    width: 100%;
    margin: 40px auto;
    border-collapse: collapse;
}
.content-table table tr:nth-child(1){
    background: linear-gradient(270deg, #2F9A64 0.04%, #177CB4 99.97%);
}


.content-table table.inox_windtable thead tr:nth-child(1) {
        background: linear-gradient(270deg, #2F9A64 0.04%, #177CB4 99.97%);
}
    .content-table table.inox_windtable tbody tr:nth-child(1) {
        background: #FAFAFA;
    }
        .content-table table.inox_windtable tbody tr:nth-child(1) td:hover {
            color: #0C4C9B;
            cursor:pointer;
        }


.content-table table tr{
    display: flex;
    justify-content: space-between;
}
.content-table table tr:not(:nth-child(1)){
    border-bottom: 1px solid #E5E5E5;
    cursor: pointer;
}
.content-table table tr:not(:nth-child(1)):nth-child(odd){
    background: #FAFAFA;;
}
.content-table table tr:not(:nth-child(1)):hover td{
    color: var(--primary-blue);
}
.content-table table td{
    padding: 18px 36px;
    font-size: 16px;
    color: var(--heading-color);
    display: flex;
    align-items: center;
    gap: 8px;
}
.content-table table th{
    padding: 15px 36px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}
.content-table table td:nth-child(2){
    color: #0154A4;
    width: 200px;
}
.content-table table th:nth-child(2){
    width: 200px;
}
.loadbuttons button{
    width: 100%;
}
.contact-cards-list{
    display: flex;
    gap: 32px;
    margin-top: 40px;
}
.contact-card{
    flex: 1;
    background: #FAFAFA;;
    padding: 20px;
}
.contact-card ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 26px;
    margin-top: 26px;
}
.contact-card p{
    font-size: 18px;
    color: #000;
    font-weight: 800;
    text-transform: capitalize;
}
.contact-card ul li a,
.contact-card ul li p{
    display: flex;
    gap: 10px;
    align-items: flex-start;
    font-size: 16px;
    color: var(--heading-color);
    font-weight: 400;
    text-decoration: none;
    transition: 0.4s;
}
.contact-card ul li a:hover{
    color: var(--primary-blue);
}
.contact-card ul li a svg path{
    transition: 0.4s;
}
.contact-card ul li a:hover svg path{
    stroke: var(--primary-blue);
}
.contact-card ul li a svg,
.contact-card ul li p svg{
    flex-shrink: 0;
}
.table-with-contact{
    position: relative;
}
.table-with-contact .contact-card{
    position: absolute;
    right: 0;
    top: 54px;
    width: 430px;
    height: calc(100% - 55px);
}
.content-table.table-with-contact table th:nth-child(2){
    width: 430px;
}
.page-filters form{
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: flex-end;
    margin-bottom: 40px;
}
.page-filters .filter-input label{
    display: flex;
    flex-direction: column;
    gap: 14px;
    background: linear-gradient(270deg, #2F9A64 0.04%, #177CB4 99.97%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 0.96px;
}
.page-filters .filter-input select{
    padding:12px 16px;
    font-size: 16px;
    background: linear-gradient(270deg, #2F9A64 0.04%, #177CB4 99.97%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../images/chevron-down-g.svg);
    background-position: 90% center;
    background-size: 12px;
    background-repeat: no-repeat;
    min-width: 123px;
    border-image: linear-gradient(270deg, #2F9A64 0.04%, #177CB4 99.97%) 1;
    font-weight: 400;
    font-family: 'Avenir-mid';
}
.page-filters .filter-input button{
    padding:14px 16px;
    min-width: 123px;
    background: linear-gradient(270deg, #2F9A64 0.04%, #177CB4 99.97%);
    color: #fff;
    border: 0;
    font-size: 16px;
    font-weight: 400; 
    font-family: 'Avenir-mid';
}
.content-table.full-table th{
    text-align: left;
}
.content-table.full-table th:nth-child(2){
    width: auto;
}
.content-table.full-table td:nth-child(2){
    width: auto;
}
@media only screen and (min-width : 1400px){
    .content-table.full-table th:nth-child(1){
        min-width: 300px;
    }
}
.content-table.full-table td{
    display: table-cell;
}
.content-table.full-table tr{
    display: table-row;
}
.media-content{
    padding: 80px 0;
}
.media-listbox{
    display: flex;
    gap: 92px;
    margin: 80px auto;
}
.daily-side{
    max-width: 756px;
}
.media-card,
.media-card .video-ext{
    display: flex;
    gap: 16px;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}
.media-card img{
    width: 40%;
    display: block;
    object-fit: cover;
}
.media-card .content-side p{
    font-size: 14px;
    color: var(--para-color);
    line-height: 1.5;
    letter-spacing: 0.84px;
}
.media-card .content-side p.title,
.media-card .content-side a.title{
    font-size: 16px;
    color: var(--heading-color);
    font-weight: 800;
    margin: 10px auto 4px auto;
    text-decoration: none;
    display: block;
    cursor: pointer;
}
.media-card .content-side .tag p{
    padding-bottom: 10px;
    border-bottom: 1px solid #E5E5E5;
    font-size: 14px;
    color: var(--para-color);
    line-height: 1;
}
.media-list{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.latest-side .media-list{
    gap: 48px;
}
.min-title{
    font-size: 24px;
    color: var(--heading-color);
    font-weight: 800;
    line-height: 1;
    margin-bottom: 24px;
}
.latest-card{
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    gap: 8px;
}
.latest-card:not(:nth-child(1))::before{
    content: "";
    position: absolute;
    top: -24px;
    left: 0;
    height: 0px;
    width: 100%;
    border-top: 1px dashed #E5E5E5;
}
.latest-card a{
    text-decoration: none;
    font-size: 14px;
    color: var(--heading-color);
    transition: 0.4s;
    font-weight: 500;
    font-family: 'Avenir-mid';
}
.latest-card .card-time{
    font-size: 14px;
    color: var(--para-color);
    font-weight: 400;
    position: relative;
    padding-left: 15px;
}
.latest-card .card-time::before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 8px;
    width: 8px;
    background: var(--para-color);
    border-radius: 50%;
    overflow: hidden;
}
.newspaper-adv{
    padding-bottom: 80px;
}
.newspaper-adv.press-release{
    padding: 80px 0;
}
.news-tabs{
    display: flex;
    gap: 32px;
    padding-top: 20px;
}
.news-tabs .tab-news{
    flex: 1;
    border: 1px solid #E5E5E5;
    padding: 16px 0;
    text-align: center;
    cursor: pointer;
}
.tab-news p{
    font-size: 24px;
    color: var(--para-color);
    font-weight: 400;
    line-height: normal;
    font-family: 'Avenir-mid';
}
.news-tabs .tab-news.active{
    background: linear-gradient(270deg, #2F9A64 0.04%, #177CB4 99.97%);
}
.news-tabs .tab-news.active p{
    color: #fff;
}
.newspaper-adv .content-table:not(:nth-child(1)){
    display: none;
}
.quality-pol{
    padding: 80px 0;
}
.titles-flex{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}
.titles-side{
    width: 400px;
}
.point-list{
    width: calc(100% - 450px);
}
.point-list ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.point-list li{
    padding: 16px;
    font-size: 16px;
    color: var(--heading-color);
    font-weight: 400;
    font-family: 'Avenir-mid';
    line-height: 1.5;
    border-top: 1px solid #F5F5F5;
    position: relative;
    letter-spacing: 0.96px;
}
.point-list li::before{
    content: "";
    height: 8px;
    width: 8px;
    border-radius: 50%;
    overflow: hidden;
    background: var(--para-color);
    position: absolute;
    left: 0;
    top: 22px;
}
.quality-list{
    margin-top: 60px;
}
.quality-list .pdf-card{
    width: calc(25% - 22.5px);
}
.partners-marquee{
    padding: 60px 0 50px 0;
}
.partners-marquee .marquee-logos{
    overflow: hidden;
    max-width: 100%;
    margin-top: 60px;
    padding-left: 100px;
}
.partners-marquee .logos-container{
    display: flex;
    flex-wrap: nowrap;
    gap: 100px;
    /* padding: 25px 0; */
    width: max-content;
    animation: scrollToRight 30s linear infinite;
}
@keyframes scrollToRight{
    100% {
        transform: translateX(calc(-50% - 50px));
    }
}
.partners-marquee:nth-child(even){
    background: #FAFAFA;
}
.partners-page{
    padding: 80px 0 0 0;
}
.contact-card-title{
    display: none;
}
.black-area{
    display: none;
}
.close-menu{
    display: none;
}
.back-btn{
    display: none;
}
.value-navs{
    margin-top: 24px;
}
.below-content p.main-title{
    font-size: 32px;
    font-weight: 500;
    font-family: 'Avenir-mid';
    padding-top: 20px;
}
.message-page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 606px;
    background: url('../images/message-bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.message-content{
    width: 540px;
    text-align: center;
}
.message-content p{
    font-size: 16px;
    color: var(--para-color);
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0.96px;
}
.message-content p.message-title{
    font-size: 48px;
    color: var(--heading-color);
    font-weight: 800;
    margin-bottom: 12px;
}
.message-content p.big-title{
    margin-bottom: 30px;
    font-size: 180px;
    line-height: 0.5;
    color: var(--heading-color);
    font-weight: 800;
    letter-spacing: -0.5px;
}
.message-content p.big-title span{
    background: -webkit-linear-gradient(180deg, #2F9A64 0.04%, #177CB4 99.97%), #2E2F34;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.message-content .main-button.type2{
    margin: 30px auto 0 auto;
}
.media-popup{
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    background: rgba(0,0,0,0.5);
    width: 100%;
    z-index: 999;
    display: none;
}
.media-popup .media-container{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.media-video{
    max-width: 800px;
    width: 90%;
    background: #fff;
    border-radius: 8px;
    position: relative;
    padding: 16px;
}
.media-video .video-title{
    border-bottom: 1px solid rgba(0,0,0,0.1);
    font-size: 20px;
    color: var(--heading-color);
    font-weight: 600;
}
.media-video video{
    width: 100%;
    max-height: 450px;
    object-fit: contain;
    display: block;
    margin-top: 16px;
}